.App {
  cursor: default;
  text-align: center;
}

button {
  cursor: pointer;
  margin: 20px;
  padding: 10px;
}

p {
  margin: 0 auto;
  max-width: 250px;
  word-spacing: 5px;
  line-height: 150%;
}

.element {
  font-weight: bold;
}

.threat {
  text-transform: capitalize;
}